<body>
    <header>
        <img src="/images/LOGO-MI-White.png" alt="LogoMI">     
        <a href="likepagina"><img src="/images/whiteheart.png"></a>
    </header>
    <main>
       <section class="welkomtekst">
            <h2>Hi there!</h2>
            <p>Look around, find your inspiration and give it a like.</p>
       </section>
       <section class="overzicht">
            <ul>
                {{#each interiorList}}
                    <li>
                        <a href="interieurinfo/{{this._id}}">{{interior}}
                            <div>
                                <h3>{{this.interieurName}}</h3>
                                <p>{{this.interieurLocatie}}</p>
                            </div>
                            <img src="{{this.interieurImg}}"/>
                        </a>
                        <form action="/likepagina" method="POST">
                            <input type="hidden" name="itemid" value="{{this._id}}">
                                {{#if this.liked}}
                                    <button><img class="hartjevol" src="/images/fullheart3.png" alt="fullheart"></button>
                                {{else}}
                                    <button><img class="hartjeleeg" src="/images/emptyheart2.png" alt="emptyheart1"></button>
                                {{/if}}
                        </form>
                    </li>
                {{/each}}
            </ul>
       </section>
    </main>
    <footer>
        <p>Rechten onder voorbehoudt van MaeveInterior. - 2023.</p>
    </footer>
    <script src="/script/java.js"></script>
</body>